window#eDP-1 {
	background-image: url("/home/pegasus/Downloads/wall7.jpg");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: contain;    
}

#window-box {
	padding: 50px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
	background-color: rgba(52, 63, 214, 0.233);
}

#clock-label{
    color: rgb(255, 77, 116);
    font-size: 100px;
    font-weight: bold;
}

#error-label{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 50, 95);
}

#input-label{
    font-size: 25px;
    font-weight: bold;
    color: rgb(233, 248, 28);
}